<!DOCTYPE html>
<html>
<head>
  <title>niconico search sample</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="container">
	<%= yield %>
	</div>
</body>
</html>
