<h1>search</h1>
<div class="ui large aligned header">
<form action='/search' method='post' class="">
	<input type="text" name='username' placeholder="keyword" autofocus>
	<input class="btn primary" type='submit' value='search'>
</form>
</div>
